---
layout: default
title: Chuyên mục
slug: category
---


<section class="category-head px-4">
    <div class="category-cover" style="background-image: url('/assets/images/category/business.jpg');"></div>
    <div class="container:lg mx-auto">
        <div class="category-info">
            <div class="title font-bold text-3xl lg:text-5xl text-body-dark">Quan điểm - Tranh luận</div>
            <div class="description text-lg text-body-light"> Các nội dung thể hiện góc nhìn, quan điểm đa chiều về các
                vấn đề kinh tế,
                văn hoá
                – xã hội trong và ngoài nước. </div>
            <div class="follow flex items-center justify-center mt-4">
                <a href="#" class="flex items-center justify-center h-10 px-4
                    border border-primary bg-white text-primary rounded
                    toggle toggle:bg-primary toggle:text-white toggle:content">
                    <div class="block toggle:hidden">
                        <span class="text">Theo dõi</span>
                    </div>
                    <div class="hidden toggle:block">
                        <span class="icon"><i class="fa far fa-check-circle"></i></span>
                        <span class="text">Đang theo dõi</span>
                    </div>
                </a>
                <div class="follow-counter text-sm ml-2 text-body-light">100 người theo dõi</div>
            </div>
        </div>
    </div>
</section>

<section class="category-main px-4">
    <div class="container:lg mx-auto">
        <div class="section">
            <div class="title">Bài viết hàng đầu</div>
            <div class="category-currated">
                {%- include components/post.html
                class="category-currated__top"
                size="is-xlarge card:horizontal"
                imageRatio="is-2by1" title="Tempor lorem dolor sit ipsum dolore diam, justo takimata elitr"
                description="Justo sed voluptua justo kasd et, elitr invidunt eirmod no ea et eirmod invidunt voluptua nonumy, elitr ut invidunt invidunt sea aliquyam no. Clita erat lorem stet justo clita, ut justo ipsum sed sadipscing amet sanctus ut. Sed voluptua tempor duo ipsum et accusam duo erat. Labore sadipscing rebum sadipscing." readtime="7"
                author="Peter Parker" created="3
                giờ trước" upvote="187" downvote="26" views="2142" comments="67"
                bookmark="yes" share="yes" subseparator="yes" -%}
                <div class="category-currated__others card-gallery is-large">
                    {% for i in (1..4) %}
                    {%- include components/post.html
                imageRatio="is-16by9" title="Vero et ea diam eirmod at ea, duo eirmod et"
                description="Clita erat lorem
                stet justo clita, ut justo ipsum sed sadipscing amet sanctus ut. Sed voluptua tempor duo
                ipsum et accusam duo erat. Labore sadipscing rebum sadipscing." readtime="7"
                author="Peter Parker" created="3 giờ trước" upvote="187" downvote="26"
                views="3142" comments="8"
                subseparator="yes" -%}
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="columns mt-4">
            <div class="column">
                <div class="category-posts">
                    <div class="title">Bài viết trong chuyên mục</div>
                    <div class="feed-filter">
                        <div class="feed-filter-sort">
                            <a href="#" class="feed-filter-item feed-filter-sort-item is:active hot">
                                <span class="icon"><i class="fas fa-fire"></i></span>
                                <span>Thịnh hành</span>
                            </a>
                            <a href="#" class="feed-filter-item feed-filter-sort-item new">
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span>Mới</span>
                            </a>
                            <a href="#" class="feed-filter-item feed-filter-sort-item active">
                                <span class="icon"><i class="fas fa-heart-rate"></i></span>
                                <span>Sôi nổi</span>
                            </a>
                        </div>
                        <div class="feed-filter-view">
                            <div class="feed-filter-item feed-filter-view-item feed-filter-view-large">
                                <span class="icon"><i class="fas fa-square"></i></span>
                            </div>
                            <div class="feed-filter-item feed-filter-view-item feed-filter-view-medium">
                                <span class="icon"><i class="fas fa-bars"></i></span>
                            </div>
                            <div class="feed-filter-item feed-filter-view-item feed-filter-view-small
                                        is:active">
                                <span class="icon"><i class="fas fa-align-justify"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-gallery is-medium has-separator">
                        {% for i in (1..5) %} {%- include components/post.html
                        title="Et sadipscing diam dolore
						voluptua kasd. Dolor labore labore ipsum elitr
						sadipscing" description="Diam ipsum sanctus et voluptua
						sit et tempor at diam sanctus, invidunt labore rebum
						dolores voluptua rebum sanctus justo ipsum, sea lorem
						voluptua tempor dolore et nonumy accusam sed, amet."
						author="Peter Parker" authorCategory="Sadipscing clita"
						created="3 giờ trước" upvote="187" downvote="26" views="201"
						comments="6" bookmark="yes" share="yes"
                        subseparator="yes" -%} {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column">

                <div class="widgets">

                    <div class="widget widget:boxed">
                        <div class="widget-head">
                            <div class="title">Nội dung cho phép</div>
                        </div>
                        <div class="widget-body">
                            <p>Các nội dung thể hiện góc nhìn, quan điểm đa chiều về các vấn đề kinh tế, văn hoá – xã
                                hội
                                trong và ngoài nước.</p>
                        </div>
                    </div>

                    <div class="widget widget:boxed">
                        <div class="widget-head">
                            <div class="title">Quy định</div>
                        </div>
                        <div class="widget-body">
                            <ul>
                                <li>Những nội dung không thuộc phạm trù của danh mục sẽ bị nhắc nhở và xoá (nếu không
                                    thay đổi thích hợp).</li>
                                <li>Nghiêm cấm spam, quảng cáo.</li>
                                <li>Nghiêm cấm post nội dung 18+ hay những quan điểm cực đoan liên quan tới chính trị -
                                    tôn giáo.</li>
                                <li>Nghiêm cấm phát ngôn thiếu văn hoá và đả kích cá nhân.</li>
                                <li>Nghiêm cấm bài đăng không ghi rõ nguồn nếu đi cóp nhặt.</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>
</section>