---
layout: default
title: Trang chủ
slug: home
---

<div class="container:lg px-4 md:px-0 mx-auto">

    <!-- ADS: TOP -->
    <div class="section mt-6">
        <div class="columns">
            <div class="column grid">
                <div class="qcao-top-left">
                    <div class="qcao"></div>
                </div>
            </div>
            <div class="column hidden lg:block">
                <div class="qcao-top-right">
                    <div class="qcao"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- CURATED SECTION -->
    <div class="section mt-6" id="homepage-curated">
        <div class="columns grid">
            <div class="column grid column:main column:spacer">
                <!-- TRENDING TODAY -->
                <div class="section trending-today" id="trending-today">
                    <div class="title">
                        <span>Hàng đầu hôm nay</span>
                    </div>
                    <div class="content">
                        <!-- TRENDING TODAY -- POST -->
                        {%- include components/post.html
					class="trending-today__item" size="is-xlarge"
                    title="Croaking and my till the master soul door thy"
                    description="Bust ghost my bosoms raven at him presently chamber. Door of plainly morrow december. Thinking lenore seeing one followed i and, the as a quoth and raven darkness. Of we thy the that more came horror lining, there and or." readtime="7"
					category="Truyền cảm hứng" author="Peter Parker" created="3
					giờ trước" vote="187" views="2142" comments="67"
					bookmark="yes" subseparator="yes" -%}
                    </div>
                </div>
            </div>
            <div class="column grid column:sidebar column:spacer">
                <!-- EDITORS'S PICKS -->
                <div class="section editors-picks">
                    <div class="title">
                        <span>Editor's picks</span>
                    </div>
                    <div class="content">
                        <!-- EDITOR'S PICKS -- POST -->
                        <div class="editors-picks__main">
                            {%- include components/post.html
                            class="editors-picks__item" size="is-large"
                            imageRatio="is-16by9" title="Vâng, lại một biểu hiện nữa của
                            lươn lẹo hoặc lưu manh" category="Quan điểm - Tranh luận"
                            author="Peter Parker" created="3 giờ trước" vote="187"
                            views="3142" comments="8" bookmark="yes"
                            subseparator="yes" -%}
                        </div>
                        <div class="editors-picks__others">
                            <div class="card-gallery is-small">
                                <!-- EDITOR'S PICKS: EXTRA -- POST 01 -->
                                {%- include components/post.html
						imageRatio="is-1by1" title="20 Channel Youtube về Khoa
						Học mình thấy hay ho" author="Peter Parker"
						authorCategory="Trò chuyện - Tâm sự" authorImage="No"
						created="3 giờ trước" vote="187" views="201" comments="6" -%}
                                <!-- EDITOR'S PICKS: EXTRA -- POST 02 -->
                                {%- include components/post.html
						imageRatio="is-1by1" title="Người và Ta - Hội chứng Rối
						loạn Đa nhân cách" author="Peter Parker"
						authorCategory="Science2Vn" authorImage="No" created="1
						ngày trước" vote="187" views="249" comments="2" -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TRENDING CAROUSEL -->
    <div class="section mt-6 lg:mt-10" id="trending-carousel">
        <div class="title">
            <span>Nổi bật hôm nay</span>
        </div>
        <div class="trending-carousel">
            <div class="nav">
                <div class="right"></div>
            </div>
            <div class="wrapper">
                {%- include components/carousel-item.html
                category="Kỹ năng" title="Làm thế nào để phóng tơ nhện cho chính xác"
                author="Peter Parker" -%}
                {%- include components/carousel-item.html
			    category="Trò chuyện - Tâm sự" title="Tôi đã suýt chết dưới tay
                Green Goblin như thế nào" author="Peter Parker" -%}
                {%- include components/carousel-item.html
			    category="Du lịch - Ẩm thực" title="Ghé thăm bảo tàng Spider-man tại
                New York" author="Peter Parker" -%}
                {%- include components/carousel-item.html
			    category="Âm nhạc" title="Ban nhạc nữ mới nổi The Mary Janes ra mắt
			    album đầu tay" author="Peter Parker" -%}
            </div>
        </div>
    </div>

    <!-- ADS:CURATED -->
    <div class="section qcao-curated mt-6 lg:px-24">
        <div class="qcao"></div>
    </div>

    <!-- MOBILE: DONATE -->
    <div class="section donate:mobile mt-6 block lg:hidden">
        <div class="widget widget:boxed">
            <div class="widget-body p-4">
                <p>Bạn yêu thích cộng đồng Spiderum và muốn nó trở nên lớn mạnh hơn?</p>
                <button class="button flex h-10 bg-blue-500 hover:bg-blue-600
                w-full text-white text-smallcaps mt-3 shadow:sp">
                    <span class="icon"><i class="fas fa-sparkles"></i></span>
                    <span class="text">Ủng hộ</span>
                </button>
            </div>
        </div>
    </div>


    <div class="columns grid mt-6">

        <div class="column grid column:main column:spacer">
            <div class="section feed" id="feed">
                <div class="title">
                    <span>Dành cho bạn</span>
                </div>
                <div class="content">
                    <div class="feed-filter mb-6">
                        <div class="filter filter:sort">
                            <a class="item hot is:active">
                                <span class="icon"><i class="fas fa-fire"></i></span>
                                <span class="text">Thịnh hành</span>
                            </a>
                            <a class="item new">
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="text">Mới</span>
                            </a>
                            <a class="item active">
                                <span class="icon"><i class="fas fa-heart-rate"></i></span>
                                <span class="text">Sôi nổi</span>
                            </a>
                        </div>
                        <div class="filter filter:view">
                            <div class="item large" data-view="large">
                                <span class="icon"><i class="fas fa-square"></i></span>
                            </div>
                            <div class="item medium is:active" data-view="medium">
                                <span class="icon"><i class="fas fa-bars"></i></span>
                            </div>
                            <div class="item small" data-view="small">
                                <span class="icon"><i class="fas fa-align-justify"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-gallery is-medium has-separator feed-wrapper">

                        {% for i in (1..5) %}{%- include components/post.html
                        title="Et sadipscing diam dolore
						voluptua kasd. Dolor labore labore ipsum elitr
						sadipscing" description="Diam ipsum sanctus et voluptua
						sit et tempor at diam sanctus, invidunt labore rebum
						dolores voluptua rebum sanctus justo ipsum, sea lorem
						voluptua tempor dolore et nonumy accusam sed, amet."
						author="Peter Parker" authorCategory="Sadipscing clita"
						created="3 giờ trước" vote="187" views="201"
						comments="6" bookmark="yes"
                        subseparator="yes" -%}{% endfor %}

                        <div class="widget widget:boxed my-3 lg:-ml-4">
                            <div class="widget-body p-4">
                                <div class="section">
                                    <div class="title">
                                        Nổi bật gần đây
                                    </div>
                                    <div class="content">
                                        <div class="feed-carousel">
                                            <div class="nav">
                                                <div class="right"></div>
                                            </div>
                                            <div class="wrapper">
                                                {% for i in (1..5) %}{%- include components/post.html
                                            category="Category" class="is-large card:border"
                                            title="Et sadipscing diam dolore voluptua kasd"
                                            author="Peter Parker" created="3 giờ trước"
                                            views="201" -%}{% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% for i in (1..5) %}{%- include components/post.html
                        title="Et sadipscing diam dolore
						voluptua kasd. Dolor labore labore ipsum elitr
						sadipscing" description="Diam ipsum sanctus et voluptua
						sit et tempor at diam sanctus, invidunt labore rebum
						dolores voluptua rebum sanctus justo ipsum, sea lorem
						voluptua tempor dolore et nonumy accusam sed, amet."
						author="Peter Parker" authorCategory="Sadipscing clita"
						created="3 giờ trước" vote="187" views="201"
						comments="6" bookmark="yes"
                        subseparator="yes" -%}{% endfor %}

                    </div>
                    <a class="button flex h-10 bg-white border border-gray-300 hover:border-gray-400
                        shadow:sp text-smallcaps mt-6">
                        <span class="icon">
                            <i class="far fa-spinner fa-spin"></i>
                        </span>
                        <span class="text">Tải thêm</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="column column:sidebar hidden lg:grid">
            <div class="widget widget:boxed">
                <div class="widget-body p-4">
                    <p>Bạn yêu thích cộng đồng Spiderum và muốn nó trở nên lớn mạnh hơn?</p>
                    <button class="button flex h-10 bg-blue-500 hover:bg-blue-600
                            w-full text-white text-smallcaps mt-3 shadow:sp">
                        <span class="icon"><i class="fas fa-sparkles"></i></span>
                        <span class="text">Ủng hộ</span>
                    </button>
                </div>
            </div>
            <div class="widget widget:boxed">
                <div class="widget-head">
                    <div class="title">
                        <span>Chuyên mục nổi bật</span>
                    </div>
                </div>
                <div class="widget-body p-4">
                    .suggested-category
                </div>
            </div>
            <div class="widget widget:boxed">
                <div class="widget-head">
                    <div class="title">
                        <span>Bài viết của tháng</span>
                    </div>
                </div>
                <div class="widget-body p-4">
                    <div class="card-gallery">
                        {% for i in (1..5) %}
                        {%- include components/post.html size="is-small"
						imageRatio="is-1by1" title="Người và Ta - Hội chứng Rối
						loạn Đa nhân cách" author="Peter Parker"
						authorCategory="Science2Vn" authorImage="No" created="1
                        ngày trước" vote="187" -%}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="qcao-sidebar">
                    <div class="qcao h-48"></div>
                </div>
            </div>
            <div class="widget widget:boxed" id="sidebar-links">
                <div class="widget-head">
                    <div class="title">
                        <span>Liên kết</span>
                    </div>
                </div>
                <div class="widget-body p-4">
                    <ul class="sidebar-links">
                        {% for i in (1..5) %}
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <i class="far fa-link"></i>
                                </span>
                                Liên kết
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="widget sidebar-footer">
                <ul class="links">
                    <li><a href="#">Về Spidergin</a></li>
                    <li><a href="#">Chuyên mục</a></li>
                    <li>
                        <a href="#">Điều khoản sử dụng</a>
                    </li>
                    <li><a href="#">Thư ngỏ</a></li>
                    <li><a href="#">Fanpage</a></li>
                </ul>
                <div class="copyright">
                    &copy; 2020 Công ty TNHH Felizz.
                </div>
            </div>
        </div>

    </div>

</div>