---
layout: default
title: Subdomain
slug: subdomain
---


<div class="user-profile user-profile:premium">

    <div class="subdomain-cover">
        <img src="">
    </div>

    <div class="relative container-lg px-4 md:px-0 mx-auto mt-6">
        <div class="cover md:-mx-6">
            <img src="">
            <div class="cover-inner flex flex-col justify-start items-start px-4 pb-10 pt-0 md:px-10">
                <div
                    class="featured-tag text-smallcaps border border-t-0 rounded-b bg-white px-4 py-2 shadow:sp text-gray-600">
                    <span class="icon"><i class="fas fa-star"></i></span>
                    <span class="text">Featured</span>
                </div>
                <div class="cover-article mt-auto lg:w-2/5">
                    <div class="content">
                        <a href="/category" class="category">
                            <h6 class="text-xs uppercase text-gray-400">Kasd stet aliquyam</h6>
                        </a>
                        <a href="/single" class="title">
                            <h1 class="text-xl font-bold mt-1">Clita gubergren labore gubergren consetetur est ea
                                dolores, amet sit diam.</h1>
                            <p class="mt-1">I if and if or shore so rare or entrance, flown that word bust no devil from
                                on it Me to i the he followed till, scarcely smiling tell raven he though. Me his
                                implore is pallas i...</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="relative container-lg px-4 md:px-0 mx-auto mt-6">

        <div class="user-profile:basic -mt-12 mb-6">
            <div class="widget widget:boxed " id="basic">
                <div class="widget-body py-4 lg:p-4 flex items-center flex-col lg:flex-row">
                    <div class="left flex flex-col lg:flex-row items-center">
                        <div class="avatar w-20 md:w-32 h-20 md:h-32 mx-auto lg:mr-4"><img src=""></div>
                        <div class="basic text-center lg:text-left mt-4 lg:mt-0">
                            <h1 class="display-name font-bold text-lg text-gray-700">
                                <a href="#">Việt Anh Trần</a>
                            </h1>
                            <p class="username text-sm text-gray-500"><a href="#">@username</a></p>
                            <div class="bio mt-3 lg:mt-0">Before there is the was soul be that.</div>
                        </div>
                    </div>
                    <div class="right flex flex-col w-full lg:w-auto lg:ml-auto mt-4 lg:mt-0">
                        <div class="badges flex justify-center md:justify-center lg:justify-end
                            order-last lg:order-first
                            border-t lg:border-t-0 pt-4 lg:pt-0
                            ">
                            {% for i in (1..14) %}
                            <div class="badge flex items-center justify-center w-10 h-10">
                                <img src="/assets/images/badge/{{i}}.png">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="stats p-4 lg:p-0 lg:pt-3 lg:mt-3 border-t">
                            <div class="item">
                                <div class="label">Followers</div>
                                <div class="value">123</div>
                            </div>
                            <div class="item ml-0 lg:ml-4">
                                <div class="label">Following</div>
                                <div class="value">123</div>
                            </div>
                            <div class="item ml-0 lg:ml-4">
                                <div class="label">Spiders</div>
                                <div class="value">123</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns grid">

            <div class="column grid column-sidebar column-spacer" id="sidebar">

                <!-- <div class="widget widget:sidebar-badge">
                    <div class="badges flex justify-center md:justify-end">
                        {% for i in (1..14) %}
                        <div class="badge flex items-center justify-center w-12 h-12">
                            <img src="/assets/images/badge/{{i}}.png">
                        </div>
                        {% endfor %}
                    </div>
                </div> -->

                <div class="widget widget:boxed" id="intro">
                    <div class="widget-head">
                        <div class="title">
                            <span>Về tôi</span>
                        </div>
                    </div>
                    <div class="widget-body p-4">
                        <div class="bio paragraphs">
                            <p>The floor not mien only obeisance of lenore, within one chamber the sat
                                that and liftednevermore.
                            </p>
                        </div>
                        <div class="about">
                            <ul>
                                <li class="item occupation">
                                    <div class="icon">
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <div class="content">Co-Founder tại <strong>Spiderum</strong></div>
                                </li>
                                <li class="item education">
                                    <div class="icon">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div class="content">Nghiên cứu sinh Tiến sĩ (Tâm Thần Học) tại
                                        <strong>Đại học Bôn
                                            Ba</strong>
                                    </div>
                                </li>
                                <li class="item education">
                                    <div class="icon">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div class="content">Cơ trưởng tại <strong>Học viên Hàng Không (Ăn
                                            Hàng - Ở
                                            Không)</strong></div>
                                </li>
                                <li class="item location">
                                    <div class="icon">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div class="content">Đang sinh sống tại <strong>Sao Hỏa</strong>
                                    </div>
                                </li>
                                <li class="item origin">
                                    <div class="icon">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div class="content">Sinh ra tại <strong>Hà Nội</strong>,
                                        <strong>Việt Nam</strong>
                                    </div>
                                </li>
                                <li class="item interests">
                                    <div class="icon">
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="content">Quan tâm đến
                                        <a href="/category"><strong>Khởi nghiệp</strong></a>,
                                        <a href="/category"><strong>Kinh tế</strong></a>,
                                        <a href="/category"><strong>Chính trị</strong></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="widget widget:boxed">
                    <div class="widget-head">
                        <div class="title">
                            <span>Donate</span>
                        </div>
                    </div>
                    <div class="widget-body p-4">
                        <p>Nếu thấy nội dung của tôi hữu ích, hãy ủng hộ để giúp tôi có thể liên tục ra nhiều nội dung
                            hơn nhé.</p>
                        <button class="button flex h-10 bg-blue-500 hover:bg-blue-600
                            w-full text-white text-smallcaps mt-3 shadow:sp">
                            <span class="icon"><i class="fas fa-sparkles"></i></span>
                            <span class="text ml-2">Ủng hộ</span>
                        </button>
                    </div>
                </div>

            </div>

            <div class="column grid column-main column-spacer" id="main">

                <div class="widget widget:boxed" id="tabs">
                    <div class="widget-body px-4">
                        <div class="tabs">
                            <div class="tab is-active text-smallcaps">
                                <a href="#post" class="px-2 md:px-6">
                                    <!-- <span class="icon"><i class="fas fa-user"></i></span> -->
                                    <span class="text">Trang chủ</span>
                                </a>
                            </div>
                            <div class="tab text-smallcaps">
                                <a href="#user" class="px-2 md:px-6">
                                    <!-- <span class="icon"><i class="fas fa-sticky-note"></i></span> -->
                                    <span class="text">Bài viết</span>
                                </a>
                            </div>
                            <div class="tab text-smallcaps">
                                <a href="#post" class="px-2 md:px-6">
                                    <!-- <span class="icon"><i class="fas fa-ribbon"></i></span> -->
                                    <span class="text">Huy hiệu</span>
                                </a>
                            </div>
                            <div class="ml-auto"></div>
                            <div class="tab text-smallcaps">
                                <a href="#post" class="px-4">
                                    <span class="icon"><i class="fas fa-envelope"></i></span>
                                </a>
                            </div>
                            <div class="tab text-smallcaps">
                                <a href="#post" class="px-4">
                                    <span class="icon"><i class="fas fa-bookmark"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>