.sp-ads {
    position: relative;
    display: block;
    width: 100%;
    background-color: rgba(var(--primary), .1);
    color: rgba(var(--primary), 1);
    padding-top: 75%;
    border-radius: 4px;

    &:before {
        content: 'Ads';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-transform: uppercase;
        font-weight: 600;
    }
}


.sp-ads-homepage-top {
    @include breakpoint(md) {
        padding-left: 10%;
        padding-right: 10%;
    }

    .sp-ads {
        padding-top: 15%;
    }
}