.button {
    &.is-primary {
        background-color: rgba(var(--primary), 1);
        border-color: transparent;

        .label {
            color: white;
        }

        &.is-primary,
        &:hover {
            background-color: rgba(var(--primary), 1);

        }
    }
}

.columns {
    margin-top: 0;
}

.column {
    padding-top: 0;
    padding-bottom: 0;
}




.tag:not(body) {
    background-color: rgba(var(--primary), .1);
    border-radius: calc(var(--border-radius) * .75);
    color: rgba(var(--text), .75);
}