.sp-card-gallery {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1rem;

    &.has-separator {
        >.sp-card {
            &:not(:first-child) {
                padding-top: 1rem;
                border-top: 1px solid rgba(var(--border), 1);
            }
        }
    }

    &.is-xlarge,
    &.is-large {
        grid-gap: 1.5rem;

        &.has-separator {
            >.sp-card {
                &:not(:first-child) {
                    padding-top: 1.5rem;
                    border-top: 1px solid rgba(var(--border), 1);
                }
            }
        }
    }
}

.sp-card-gallery.is-xlarge>.sp-card,
.sp-card.is-xlarge {
    flex-direction: column;

    .sp-card-image {
        figure.image {
            padding-top: 50%;
        }

        +.sp-card-content {
            margin-top: 1.5rem;
        }
    }

    .sp-card-content {
        &__title {
            * {
                font-size: 2rem;
            }
        }
    }

    .sp-card-author {
        margin-top: .5rem;
    }

}

.sp-card-gallery.is-large>.sp-card,
.sp-card.is-large {
    flex-direction: column;

    .sp-card-image {
        figure.image {
            padding-top: 60%;
        }
    }

    .sp-card-content {
        &__title {
            * {
                font-size: 1.2rem;
            }
        }
    }
}

.sp-card-gallery.is-medium>.sp-card,
.sp-card.is-medium {
    flex-direction: row;

    .sp-card-image {
        width: 25%;

        flex-shrink: 0;

        figure.image {
            padding-top: 75%;
        }

        +.sp-card-content {
            margin-top: 0;
            margin-left: 1.5rem;
        }
    }

    .sp-card-content {
        &__title {
            * {
                font-size: 1.2rem;
            }
        }
    }

    .sp-card-author {
        margin-top: 0;
    }
}

.sp-card-gallery.is-small>.sp-card,
.sp-card.is-small {
    flex-direction: row;

    .sp-card-image {
        width: 6rem;
        height: 6rem;

        flex-shrink: 0;

        figure.image {
            padding-top: unset;
        }

        +.sp-card-content {
            margin-top: 0;
            margin-left: 1rem;
        }
    }

    .sp-card-content {
        &__title {
            * {
                font-size: 1.1rem;
            }
        }

        &__description {
            display: none;
        }
    }

    .sp-card-author {
        margin-top: 0;
    }
}

.sp-card-gallery.is-xsmall>.sp-card,
.sp-card.is-xsmall {
    flex-direction: row;

    .sp-card-image {
        width: 5rem;
        height: 5rem;

        flex-shrink: 0;

        figure.image {
            padding-top: unset;
        }

        +.sp-card-content {
            margin-top: 0;
            margin-left: 1rem;
        }
    }

    .sp-card-content {
        &__title {
            * {
                font-size: 1.1rem;
            }
        }

        &__description {
            display: none;
        }
    }

    .sp-card-author {
        margin-top: 0;
    }
}

.sp-card {
    display: flex;
}

.sp-card-image {
    display: block;

    @include boxshadow;
    border-radius: var(--border-radius);
    width: 100%;
    height: min-content;

    figure.image {
        border-radius: var(--border-radius);
        overflow-x: auto;
        height: 100%;
        padding-top: 60%;
    }

    img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;

        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    +.sp-card-content {
        margin-top: 1rem;
    }
}

.sp-card-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: .5rem;
    width: 100%;

    &__category {
        * {
            color: rgba(var(--text), .5);
            text-transform: uppercase;
            font-weight: 500;
            line-height: 1;
        }
    }

    &__title {
        color: rgba(var(--text), 1);

        * {
            font-weight: 600;
        }
    }

    &__description {}

    &__read-time {
        color: rgba(var(--text), .5);

        &:before {
            content: '— ';
        }

        &:after {
            content: ' phút đọc';
        }
    }
}

.sp-card-author {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    &__image {
        flex-shrink: 0;
        margin-right: .5rem;

        width: 2.5rem;
        height: 2.5rem;
    }

    &__content {
        width: 100%;
        font-size: .75rem;

        .main {
            font-weight: 600;
        }

        .sub {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            .sub-item {
                display: inline-flex;

                +.sub-item {
                    margin-left: .75rem;
                }

                &.separator {
                    // display: none;
                    margin-left: auto;
                }

                &:after {
                    order: -1;
                    @include fontawesome(regular);
                }

                &.created {
                    white-space: nowrap;
                    // width: 100%;

                    // @include breakpoint(md) {
                    //     width: unset;
                    // }
                }

                &.liked {
                    // margin-left: 0;

                    &:after {
                        content: '\f004';
                        font-weight: 900;
                        margin-right: .25rem;
                    }

                    // @include breakpoint(md) {
                    //     margin-left: .75rem;
                    // }
                }

                &.views {
                    &:after {
                        content: '\f06e';
                        margin-right: .25rem;
                    }
                }

                &.comments {
                    &:after {
                        content: '\f075';
                        margin-right: .25rem;
                    }
                }

                &.bookmark {
                    display: none;

                    @include breakpoint(md) {
                        display: inline-flex;
                    }

                    &:after {
                        content: '\f02e';
                    }

                    &:hover,
                    &.is-active {
                        &:after {
                            font-weight: 900;
                        }
                    }
                }

                &.share {
                    display: none;

                    @include breakpoint(md) {
                        display: inline-flex;
                    }

                    &:after {
                        content: '\f1e0';
                    }

                    &:hover,
                    &.is-active {
                        &:after {
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
}