.sp-navbar {
    position: fixed;
    top: 0;
    z-index: 9999;

    width: 100%;

    background-color: white;
    border-bottom: 1px solid rgba(var(--border), 1);

    @include boxshadow;

    transition: all .25s ease;

    &.is-scrolldown {
        top: -4.5rem;
    }

    .container {
        padding: 0 1rem;

        @include breakpoint(md) {
            padding: 0;
        }
    }

    .sp-navbar-top {
        display: flex;
        height: 4.5rem;
        transition: all .25s ease;

        &-inner {
            display: flex;
            align-items: center;
        }
    }

    .sp-navbar-bottom {
        display: flex;
        align-items: center;

        height: 3.5rem;

        &-inner {
            display: flex;
            align-items: center;
            border-top: 1px solid rgba(var(--border), 1);
            width: 100%;
        }
    }

    .sp-navbar-logo {
        display: flex;
        line-height: 0;
        width: 3rem;
        overflow: hidden;

        img {
            display: block;
            height: 3rem;
            object-fit: cover;
            object-position: left center;
        }

        @include breakpoint(md) {
            width: unset;
        }
    }

    .sp-navbar-user {
        &-avatar {
            display: block;
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    .sp-navbar-item {
        flex-shrink: 0;
        margin-left: .5rem;

        &:first-child {
            margin-left: 0;
        }
    }

    .sp-navbar-separator {
        margin-left: auto;
    }

    .sp-navbar-tags {
        display: none;
        align-items: center;

        margin-left: 2rem;

        @include breakpoint(md) {
            display: flex;
        }

        &-item {
            display: flex;
            align-items: center;

            height: 2.5rem;

            padding: 0 1rem;

            border: 1px solid rgba(var(--border), 1);
            border-radius: 1.25rem;

            transition: all .25s ease;

            &:before {
                content: '#';
            }

            &:hover {
                background-color: rgba(var(--border), .5);
            }

            &:not(:first-child) {
                margin-left: .5rem;
            }
        }
    }

    .sp-navbar-toggle {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 2.5rem;
        height: 2.5rem;

        border-radius: 50%;
        background-color: rgba(var(--border), .5);
        color: rgba(var(--primary), 1);

        cursor: pointer;

        &:hover {
            background-color: rgba(var(--border), .75);
        }
    }

    .sp-navbar-new {
        .button {
            font-weight: 600;

            span.icon {
                @include breakpoint(md) {
                    display: none;
                }
            }
        }
    }

    .sp-navbar-category {
        position: relative;

        display: flex;
        align-items: center;

        width: calc(100% - 7.5rem);

        // padding-left: 1rem;
        // padding-right: 1rem;

        &-menu {
            position: relative;

            display: flex;

            text-transform: uppercase;
            font-size: .75rem;
            font-weight: 500;

            overflow: hidden;

            &-nav {
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

                width: 3rem;
                height: 3rem;

                background: linear-gradient(to right, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, .9) 60%, rgba(255, 255, 255, 0) 100%);

                font-size: .75rem;

                &.left {
                    margin-right: -1rem;
                }

                &.right {
                    margin-left: -1rem;
                    transform: rotate(180deg);
                }
            }

            li {
                display: flex;
                align-items: center;

                height: 3.5rem;

                padding-left: 1rem;
                padding-right: 1rem;

                white-space: nowrap;

                cursor: pointer;
            }

            &:after {
                position: absolute;
                right: 0;
                content: '';
                display: flex;
                height: 100%;
                width: 2rem;
            }
        }
    }

    .sp-navbar-following {
        position: relative;
        margin-left: -1rem;

        .sp-navbar-following-button {
            display: flex;
            align-items: center;

            width: 9rem;
            height: 3.5rem;

            padding-left: 1rem;
            padding-right: 1rem;

            border-right: 1px solid rgba(var(--border), 1);

            text-transform: uppercase;
            font-size: .75rem;
            font-weight: 500;
            white-space: nowrap;

            cursor: pointer;

            .text+.icon {
                margin-left: .5rem;
            }

            &:hover {
                ~.sp-navbar-following-menu {
                    display: flex;
                }
            }
        }

        .sp-navbar-following-menu {
            position: absolute;
            top: 100%;
            left: 0;

            display: none;

            width: 15rem;
            padding: .25rem 0;
            background-color: white;
            border: 1px solid rgba(var(--border), 1);
            border-top-width: 0;
            border-radius: 0 0 .25rem .25rem;

            &:hover {
                display: flex;
            }

            ul {
                width: 100%;
            }

            .sp-navbar-following-menu-item {
                padding: .5rem 1rem;

                a {
                    display: flex;
                    align-items: center;
                }

                &:hover {
                    background-color: rgba(var(--border), .5);
                }

                .sp-navbar-following-menu-item-image {
                    position: relative;

                    img {
                        display: block;

                        width: 1.5rem;
                        height: 1.5rem;

                        object-fit: cover;

                        border: 1px solid rgba(var(--border), 1);
                        border-radius: .25rem;
                    }
                }

                .sp-navbar-following-menu-item-label {
                    margin-left: .5rem;

                    text-transform: uppercase;
                    font-size: .75rem;
                    font-weight: 500;
                }

                &.has-new-post {
                    .sp-navbar-following-menu-item-image {
                        &:before {
                            content: '';
                            position: absolute;
                            top: -.125rem;
                            left: -.125rem;
                            display: block;
                            width: .5rem;
                            height: .5rem;
                            border-radius: 50%;
                            background-color: red;
                        }
                    }
                }
            }
        }
    }


}

.sp-navbar-placeholder {
    background-color: rgba(var(--border), 1);
}

.sp-loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: block;
    width: 100%;
    height: 4px;

    background-color: rgba(var(--border), 1);
    background-image: repeating-linear-gradient(to right, rgba(var(--primary), 1) 0%, rgba(var(--primary), .1) 50%, rgba(var(--primary), 1) 100%);
    background-size: 200% auto;
    background-position: 0 100%;
    animation: GradientLoadingBar 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes GradientLoadingBar {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -200% 0;
    }
}


#sp-top-notification {
    background-color: rgba(var(--border), 1);

    margin-top: 0;

    padding-top: 1rem;
    padding-bottom: 1rem;

    .container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        @include breakpoint(md) {
            align-items: center;
            flex-wrap: unset;
        }
    }

    .sp-top-notification-title {
        display: flex;
        align-items: center;

        margin-bottom: .5rem;

        @include breakpoint(md) {
            margin-bottom: 0;

            &:after {
                content: '';
                display: block;
                height: 2px;
                width: 2.5rem;
                margin-right: 1rem;
                margin-left: 1rem;
                background-color: rgba(var(--text), .75);
            }
        }
    }

    .sp-top-notification-interactions {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: .5rem;

        @include breakpoint(md) {
            width: auto;
            margin-top: 0;
            margin-left: auto;
        }
    }

    .sp-top-notification-cta {
        text-transform: uppercase;
        text-decoration: underline;
        font-size: .75rem;
        cursor: pointer;

        @include breakpoint(md) {
            margin-left: auto;
        }
    }

    .sp-top-notification-close {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        height: 2rem;
        width: 2rem;
        font-size: .75rem;
        cursor: pointer;

        @include breakpoint(md) {
            margin-left: unset;
        }
    }
}