.card-gallery {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1rem;

    &.has-separator {
        >.card {
            &:not(:first-child) {
                padding-top: 1rem;
                border-top: 1px solid rgba(var(--border), 1);
            }
        }
    }

    &.is-xlarge,
    &.is-large {
        grid-gap: 1.5rem;

        &.has-separator {
            >.card {
                &:not(:first-child) {
                    padding-top: 1.5rem;
                    border-top: 1px solid rgba(var(--border), 1);
                }
            }
        }
    }

    &.is-horizontal {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card-gallery.is-xlarge>.card,
.card.is-xlarge {
    flex-direction: column;

    .card-image {
        figure.image {
            padding-top: 50%;
        }

        +.card-content {
            margin-top: 1.5rem;
        }
    }

    .card-content {
        &__title {
            * {
                font-size: 2rem;
                line-height: 1.25;
            }
        }
    }

    .card-author {
        margin-top: .5rem;
    }

    &.is-horizontal {
        @include breakpoint(lg) {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 1.5rem;

            * {
                height: min-content;
            }

            .card-image {
                +.card-content {
                    margin-top: 0;
                }
            }
        }
    }

}

.card-gallery.is-large>.card,
.card.is-large {
    flex-direction: column;

    .card-image {
        figure.image {
            padding-top: 60%;
        }

        +.card-content {
            margin-top: 1rem;
        }
    }

    .card-content {
        &__title {
            * {
                font-size: 1.2rem;
            }
        }
    }
}

.card-gallery.is-medium>.card,
.card.is-medium {
    flex-direction: row;

    .card-image {
        width: 25%;
        max-width: 6rem;

        flex-shrink: 0;

        @include breakpoint(md) {
            width: 25%;
            max-width: 10rem;
        }

        figure.image {
            padding-top: 100%;

            @include breakpoint(md) {
                padding-top: 75%;
            }
        }

        +.card-content {
            margin-top: 0;
            margin-left: 1rem;
        }
    }

    .card-content {
        &__title {
            font-size: 1.1rem;

            * {
                font-size: inherit;
            }

            @include breakpoint(md) {
                font-size: 1.2rem;
            }
        }
    }

    .card-author {
        margin-top: 0;
    }
}

.card-gallery.is-small>.card,
.card.is-small {
    flex-direction: row;

    .card-image {
        width: 6rem;
        height: 6rem;

        flex-shrink: 0;

        figure.image {
            padding-top: unset;
        }

        +.card-content {
            margin-top: 0;
            margin-left: 1rem;
        }
    }

    .card-content {
        &__title {
            * {
                font-size: 1.1rem;
            }
        }

        &__description {
            display: none;
        }
    }

    .card-author {
        margin-top: 0;
    }
}

.card-gallery.is-xsmall>.card,
.card.is-xsmall {
    flex-direction: row;

    .card-image {
        width: 5rem;
        height: 5rem;

        flex-shrink: 0;

        figure.image {
            padding-top: unset;
        }

        +.card-content {
            margin-top: 0;
            margin-left: 1rem;
        }
    }

    .card-content {
        &__title {
            * {
                font-size: 1.1rem;
            }
        }

        &__description {
            display: none;
        }
    }

    .card-author {
        margin-top: 0;
    }
}

.card {
    position: relative;
    display: flex;
}

.card-image {
    display: block;

    width: 100%;
    height: min-content;

    background-color: rgba(var(--gray-200), 1);
    border: 1px solid rgba(var(--border), 1);
    border-radius: .25rem;

    figure.image {
        border-radius: .25rem;
        overflow-x: auto;
        height: 100%;
        padding-top: 60%;
    }

    +.card-content {
        margin-top: 1rem;
    }
}

.card-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: .5rem;
    width: 100%;

    &__category {
        * {
            color: rgba(var(--gray-700), .75);
            text-transform: uppercase;
            font-weight: 500;
            line-height: 1;
        }
    }

    &__title {
        color: rgba(var(--gray-900), .75);
        font-weight: 700;

        * {
            font-weight: 700;
        }
    }

    &__description {}

    &__read-time {
        margin-left: .5em;
        color: rgba(var(--gray-700), .75);

        &:before {
            content: '— ';
        }

        &:after {
            content: ' phút đọc';
        }
    }
}

.card-author {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;

    &__image {
        display: block;
        flex-shrink: 0;
        margin-right: .5rem;

        width: 2.5rem;
        height: 2.5rem;

        background-color: rgba(var(--gray-200), 1);
        border: 1px solid rgba(var(--border), 1);
        border-radius: 50%;
    }

    &__content {
        width: 100%;
        font-size: .75rem;

        .main {
            font-weight: 600;
        }

        .sub {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            .sub-item {
                display: inline-flex;

                +.sub-item {
                    margin-left: .75rem;
                }

                &.separator {
                    // display: none;
                    margin-left: auto;
                }

                &:after {
                    order: -1;
                    @include fontawesome(regular);
                }

                &.created {
                    white-space: nowrap;
                }

                &.liked {
                    &:after {
                        content: '\f357';
                        font-weight: 900;
                        margin-right: .25rem;
                    }
                }

                &.views {
                    &:after {
                        content: '\f06e';
                        margin-right: .25rem;
                    }
                }

                &.comments {
                    &:after {
                        content: '\f075';
                        margin-right: .25rem;
                    }
                }

                &.bookmark {
                    display: none;

                    @include breakpoint(md) {
                        display: inline-flex;
                    }

                    &:after {
                        content: '\f02e';
                    }

                    &:hover,
                    &.is-active {
                        &:after {
                            font-weight: 900;
                        }
                    }
                }

                &.share {
                    display: none;

                    @include breakpoint(md) {
                        display: inline-flex;
                    }

                    &:after {
                        content: '\f1e0';
                    }

                    &:hover,
                    &.is-active {
                        &:after {
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
}












.feed-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1.5rem;

    .feed-filter-sort,
    .feed-filter-view {
        display: flex;
        align-items: center;
    }

    .feed-filter-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding-left: 0.75rem;
        padding-right: 0.75rem;

        border-radius: var(--border-radius);

        color: rgba(var(--text), 0.5);

        height: 2.5rem;

        span.icon {

            .fa,
            .fab,
            .fad,
            .fal,
            .far,
            .fas {
                font-weight: 400;
            }
        }

        span:not(.icon) {
            font-size: 0.75rem;
            text-transform: uppercase;
        }

        &:first-child:not(.is-active) {
            padding-left: 0;
        }

        &.is-active {
            color: rgba(var(--text), 1);

            background-color: white;
            border: 1px solid rgba(var(--border), 1);

            span.icon {
                color: rgba(var(--primary), 1);

                .fa,
                .fab,
                .fad,
                .fal,
                .far,
                .fas {
                    font-weight: 900;
                }
            }
        }
    }

    .feed-filter-sort-item {
        span.icon {
            width: auto;
            margin-right: 0.325rem;
        }
    }

    .feed-filter-view-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        span.icon {

            .fa,
            .fab,
            .fad,
            .fal,
            .far,
            .fas {
                font-weight: 900;
            }
        }
    }
}