:root {
    --transparent: transparent;
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --gray-100: 247, 250, 252;
    --gray-200: 237, 242, 247;
    --gray-300: 226, 232, 240;
    --gray-400: 203, 213, 224;
    --gray-500: 160, 174, 192;
    --gray-600: 113, 128, 150;
    --gray-700: 74, 85, 104;
    --gray-800: 45, 55, 72;
    --gray-900: 26, 32, 44;
    --red-100: 255, 245, 245;
    --red-200: 254, 215, 215;
    --red-300: 254, 178, 178;
    --red-400: 252, 129, 129;
    --red-500: 245, 101, 101;
    --red-600: 229, 62, 62;
    --red-700: 197, 48, 48;
    --red-800: 155, 44, 44;
    --red-900: 116, 42, 42;
    --orange-100: 255, 250, 240;
    --orange-200: 254, 235, 200;
    --orange-300: 251, 211, 141;
    --orange-400: 246, 173, 85;
    --orange-500: 237, 137, 54;
    --orange-600: 221, 107, 32;
    --orange-700: 192, 86, 33;
    --orange-800: 156, 66, 33;
    --orange-900: 123, 52, 30;
    --yellow-100: 255, 255, 240;
    --yellow-200: 254, 252, 191;
    --yellow-300: 250, 240, 137;
    --yellow-400: 246, 224, 94;
    --yellow-500: 236, 201, 75;
    --yellow-600: 214, 158, 46;
    --yellow-700: 183, 121, 31;
    --yellow-800: 151, 90, 22;
    --yellow-900: 116, 66, 16;
    --green-100: #f0fff4;
    --green-200: #c6f6d5;
    --green-300: #9ae6b4;
    --green-400: #68d391;
    --green-500: #48bb78;
    --green-600: #38a169;
    --green-700: #2f855a;
    --green-800: #276749;
    --green-900: #22543d;
    --teal-100: #e6fffa;
    --teal-200: #b2f5ea;
    --teal-300: #81e6d9;
    --teal-400: #4fd1c5;
    --teal-500: #38b2ac;
    --teal-600: #319795;
    --teal-700: #2c7a7b;
    --teal-800: #285e61;
    --teal-900: #234e52;
    --blue-100: 235, 248, 255;
    --blue-200: 190, 227, 248;
    --blue-300: 144, 205, 244;
    --blue-400: 99, 179, 237;
    --blue-500: 66, 153, 225;
    --blue-600: 49, 130, 206;
    --blue-700: 43, 108, 176;
    --blue-800: 44, 82, 130;
    --blue-900: 42, 67, 101;
    --indigo-100: #ebf4ff;
    --indigo-200: #c3dafe;
    --indigo-300: #a3bffa;
    --indigo-400: #7f9cf5;
    --indigo-500: #667eea;
    --indigo-600: #5a67d8;
    --indigo-700: #4c51bf;
    --indigo-800: #434190;
    --indigo-900: #3c366b;
    --purple-100: #faf5ff;
    --purple-200: #e9d8fd;
    --purple-300: #d6bcfa;
    --purple-400: #b794f4;
    --purple-500: #9f7aea;
    --purple-600: #805ad5;
    --purple-700: #6b46c1;
    --purple-800: #553c9a;
    --purple-900: #44337a;
    --pink-100: #fff5f7;
    --pink-200: #fed7e2;
    --pink-300: #fbb6ce;
    --pink-400: #f687b3;
    --pink-500: #ed64a6;
    --pink-600: #d53f8c;
    --pink-700: #b83280;
    --pink-800: #97266d;
    --pink-900: #702459;
}