.comments {
    >.comment {
        &:not(:first-child) {
            margin-top: 1rem;
        }

        .comments {
            padding: 1rem 0 0 1.5rem;
        }
    }

    .comment-more {
        display: block;
        padding: .5rem 0;
        border-top: 1px solid rgba(var(--border), 1);
        font-size: .75rem;
        text-align: center;
        cursor: pointer;

        &:hover {
            color: rgba(var(--gray-700), 1);
        }
    }
}

.comment {
    position: relative;
    display: block;

    .avatar {
        float: left;
        display: block;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        border: 1px solid rgba(var(--border), 1);
        border-radius: 50%;
        background-color: rgba(var(--gray-200), 1);

        img {
            display: block;
        }
    }

    .body {
        display: flex;
        flex-direction: column;

        .author {
            font-weight: bold;
        }

        .metadata {
            color: rgba(var(--gray-600), .75);
            font-size: .835rem;
        }

        .content {
            margin-top: .5rem;

            &[data-reply-to] {
                &:before {
                    content: '— Trả lời 'attr(data-reply-to);
                    font-size: .835rem;
                    color: rgba(var(--gray-600), .75);

                }
            }

            &.content-body {
                >*+* {
                    margin-top: .5rem;
                }
            }

            .quote {
                padding: .25rem 0 .25rem .75rem;
                border-left: 5px solid rgba(var(--border), 1);

                &:hover {
                    background-color: rgba(var(--border), .5);
                }
            }
        }

        .actions {
            display: flex;
            align-items: center;
            margin-top: .5rem;
            color: rgba(var(--gray-600), .75);
            font-size: .835rem;

            a {
                cursor: pointer;

                &:hover {
                    color: rgba(var(--gray-800), .75);
                }
            }

            >*+* {
                margin-left: 1rem;
            }
        }
    }
}


.comment-form {
    position: relative;
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(var(--border), 1);

    .avatar {
        display: block;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
        background-color: rgba(var(--gray-200), 1);
        border: 1px solid rgba(var(--border), 1);
        border-radius: 50%;
        @include shadow;
    }

    .editor {
        width: 100%;
        max-height: 15rem;

        &:empty:before {
            content: 'Hãy chia sẻ cảm nghĩ của bạn về bài viết';
            color: rgba(var(--gray-400), 1);
        }
    }

    .actions {
        display: flex;

        >*:not(:first-child) {
            margin-left: .5rem;
        }

        .action {
            >* {

                &:hover,
                &.is-active {
                    color: rgba(var(--blue-500), 1);
                }
            }
        }

        span.icon {
            // font-size: 1rem;
        }
    }
}