.feed-carousel {
    position: relative;

    .nav {
        display: none;

        @include breakpoint(lg) {
            display: initial;
        }

        >* {
            position: absolute;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: 1px solid rgba(var(--border), 1);
            background-color: white;
            @include shadow;

            &:before {
                @include fontawesome(light);
                content: '\f105';
            }

            &:hover {
                background-color: rgba(var(--gray-200), 1);
            }
        }

        .right {
            right: -2.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .wrapper {
        display: flex;
        display: flex;
        overflow: hidden;
        margin-left: -1rem;
        margin-right: -1rem;
        padding-left: 1rem;
    }

    .card {
        width: 17.5rem;

        >.content {
            .category {
                font-size: .875rem;
            }

            .title {
                font-size: 1.125rem;
            }
        }

        +.card {
            margin-left: 1rem;
        }
    }
}