// CONTAINER:SIZE

.container {
    &\:xl {
        width: 100%;
        max-width: 100%;

        @include breakpoint(sm) {
            max-width: 640px;
        }

        @include breakpoint(lg) {
            max-width: 768px;
        }

        @include breakpoint(lg) {
            max-width: 1024px;
        }

        @include breakpoint(xl) {
            max-width: 1280px;
        }
    }

    &\:lg {
        width: 100%;
        max-width: 100%;

        @include breakpoint(sm) {
            max-width: 640px;
        }

        @include breakpoint(lg) {
            max-width: 768px;
        }

        @include breakpoint(lg) {
            max-width: 1024px;
        }
    }

    &\:md {
        width: 100%;
        max-width: 100%;

        @include breakpoint(sm) {
            max-width: 640px;
        }

        @include breakpoint(lg) {
            max-width: 768px;
        }
    }

    &\:sm {
        width: 100%;
        max-width: 100%;

        @include breakpoint(sm) {
            max-width: 640px;
        }
    }
}

// USER STATUS

.is-logged-in {
    .is-logged-out {
        display: none !important;
    }
}

.is-logged-out {
    .is-logged-in {
        display: none !important;
    }
}

// IMG

img[src=''] {
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.img-container {
    background-color: rgba(var(--gray-100), 1);
}

.img-caption {
    margin-top: .5rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: .875rem;
    color: rgba(var(--gray-500), 1);

    a {
        border-bottom: .05em solid currentColor;
    }
}

// COLUMNS

.columns {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    min-width: 0;
    grid-gap: 1.5rem;
    height: min-content;


    @include breakpoint(lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .column {
        grid-template-columns: minmax(0, 1fr);
        width: 100%;
        min-width: 0;
        height: min-content;
    }

    .column\:spacer {
        grid-gap: 1.5rem;

        @include breakpoint(lg) {
            grid-gap: 1.2rem;
        }
    }

    .column\:sidebar {
        grid-column: span 2;

        @include breakpoint(lg) {
            grid-column: span 1;
        }
    }

    .column\:main {
        grid-column: span 2;
    }

    .column\:sticky {
        position: sticky;
        top: calc(var(--navbar-height) + var(--navbar-bottom-height) + 1rem);
    }

}

.content-body {
    >*+* {
        margin-top: 1rem;
    }
}

// ICON + TEXT

// span.icon {
//     // font-size: 0.875em;

//     +span.text {
//         margin-left: 0.325em;
//     }
// }

// span.text {
//     +span.icon {
//         margin-left: 0.325em;
//     }
// }


// TOGGLE

.toggle\:content {
    &.is\:active {
        .toggle\:block {
            display: block;
        }

        .toggle\:hidden {
            display: none;
        }
    }
}


// SHADOW

.shadow\:sp {
    box-shadow: 0 10px 15px -3px rgba(var(--blue-500), .05),
        0 4px 6px -2px rgba(var(--blue-500), .025) !important;
}

@mixin shadow {
    box-shadow: 0 10px 15px -3px rgba(var(--blue-500), .05),
        0 4px 6px -2px rgba(var(--blue-500), .025) !important;
}


// SMALLCAPS

.text-smallcaps {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
}

// PARAGRAPHS

.paragraphs {
    >*+* {
        margin-top: 1em;
    }

    ul {
        li {
            &:before {
                content: '-';
                margin-right: .5rem;
            }

            &:not(:first-child) {
                margin-top: .25rem;
            }
        }
    }
}

.line-clamp {
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    >*:not(:first-child) {
        display: none;
    }

    &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '\00a0... Đọc thêm';
        font-weight: bold;
        background-color: white;
    }
}

// SECTION

.section {
    >.title {
        display: block;

        margin-bottom: 1rem;

        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: bold;

        color: rgba(var(--gray-700), 1);
    }
}

// TRENDING CAROUSEL

.trending-carousel {
    position: relative;

    a {

        &:nth-child(3),
        &:nth-child(4) {
            display: none;

            @include breakpoint(lg) {
                display: block;
            }
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;

        @include breakpoint(lg) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .item {
        position: relative;

        display: block;
        height: 18rem;
        border-radius: calc(var(--border-radius) * 2);

        overflow: hidden;

        background-position: center;
        background-size: cover;
        background-color: rgba(var(--gray-200), 1);

        border: 1px solid rgba(var(--border), 1);

        @include shadow;

        @include breakpoint(lg) {
            height: 12rem;
        }

        >.image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;

            &:before {
                content: '';

                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;

                display: block;
                width: 100%;
                height: 100%;

                background-image: linear-gradient(0deg,
                        rgba(var(--gray-600), .8),
                        rgba(var(--gray-600), 0.6) 25%,
                        rgba(var(--gray-600), 0.4) 50%,
                        rgba(var(--gray-600), 0.2) 75%,
                        rgba(var(--gray-600), 0));
            }
        }

        >.content {
            position: relative;
            z-index: 2;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            height: 100%;
            width: 100%;

            padding: 1rem;

            color: rgba(255, 255, 255, 1);

            .category {
                margin-top: auto;
                font-size: 0.75rem;
                text-transform: uppercase;
            }

            .title {
                font-weight: bold;
                font-size: 1.125rem;
                line-height: 1.25;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .author {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                margin-top: 0.5rem;

                .avatar {
                    display: block;
                    flex-shrink: 0;
                    width: 2rem;
                    height: 2rem;
                    background-color: rgba(var(--gray-200), 1);
                    border: 1px solid rgba(var(--border), 1);
                    border-radius: 50%;
                    @include shadow;
                }

                .username {
                    margin-left: 0.5rem;
                    font-size: 0.8rem;
                }
            }
        }

    }

    .nav {
        display: none;

        @include breakpoint(lg) {
            display: initial;
        }

        >* {
            position: absolute;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: 1px solid rgba(var(--border), 1);
            background-color: white;
            @include shadow;

            &:before {
                @include fontawesome(light);
                content: '\f105';
            }

            &:hover {
                background-color: rgba(var(--gray-200), 1);
            }
        }

        .right {
            right: -1.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


// FILTERS

.filters {
    .filter {
        display: flex;

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 .75rem;
            border-radius: var(--border-radius);
            text-transform: uppercase;
            font-size: .875rem;
            font-weight: bold;
            cursor: pointer;

            &:hover,
            &.is\:active {
                color: rgba(var(--blue-500), 1);
            }
        }

        &.filter\:view {
            .item {
                width: 1.5rem;
                padding: 0;
            }
        }

        &:not(.filter\:naked) {
            .item {
                border: 1px solid transparent;
                height: 2.25rem;

                &.is\:active {
                    border-color: rgba(var(--border), 1);
                    background-color: rgba(var(--white), 1);
                    @include shadow;
                }
            }

            &.filter\:view {
                .item {
                    width: 2.25rem;
                    padding: 0;
                }
            }

        }
    }
}



// TOP ANNOUNCEMENT

.top-announcement {
    position: relative;
    padding: 1rem;
    background-color: rgba(var(--border), 1);
    border-bottom: 1px solid rgba(var(--blue-300), .25);
    @include shadow;

    .container\:lg {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .title {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: bold;
        color: rgba(var(--gray-700), 1);

        @include breakpoint(lg) {
            margin-bottom: 0;
        }
    }

    .close {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        font-size: .875rem;

        &:hover {
            color: rgba(var(--gray-700), 1);
        }
    }

    @include breakpoint(lg) {
        .container\:lg {
            flex-direction: row;
        }

        .title::after {
            content: '';
            display: block;
            height: 2px;
            width: 2.5rem;
            margin-right: 1rem;
            margin-left: 1rem;
            background-color: currentColor;
        }
    }
}



// HOME: EDITORS' PICKS

.editors-picks {
    .editors-picks__others {
        border-top: 1px solid rgba(var(--border), 1);
        padding-top: 1rem;
        margin-top: 1.5rem;
    }
}




.toggle {
    ~.dropdown {
        display: none;
    }

    &.is\:active {
        ~.dropdown {
            display: flex;
        }
    }
}



.tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(var(--border), 1);
    overflow: auto;

    &.tabs\:centered {
        justify-content: space-evenly;

        @include breakpoint(md) {
            justify-content: center;
        }
    }

    .tab {
        display: flex;
        height: 3.5rem;

        border-style: solid;
        border-width: .325em 0 .325em 0;
        border-color: transparent;

        &:hover {
            border-bottom-color: rgba(var(--border), 1);
        }

        &.is\:active {
            border-bottom-color: rgba(var(--blue-500), 1);
            color: rgba(var(--gray-700), 1);
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;

            span.text {
                white-space: nowrap;
            }
        }
    }
}




.stats {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;

    .label {
        font-weight: bold;
        font-size: .875rem;
        text-transform: uppercase;
        color: rgba(var(--gray-500), 1);
    }

    .value {
        font-size: 1.25rem;
        font-weight: bold;
        color: rgba(var(--gray-700), 1);
    }
}