// CORE
@import 'fonts';
@import 'mixins';
@import 'layout';
@import 'colors';

:root {
    --font-size: 14px;
    --background: 249, 251, 253;
    --border: 227, 235, 246;
    --border-radius: .5rem;
    --navbar-height: 4.5rem;
}

html {
    font-size: var(--font-size);
}

body {
    background-color: rgba(var(--background), 1);

    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: rgba(var(--gray-600), 1);
}

* {
    outline: none;
}

// COMPONENTS
@import 'navbar';
@import 'qcao';
@import 'author';
@import 'card';
@import 'buttons';
@import 'feed-carousel';
@import 'widget';
@import 'post';
@import 'comments';
@import 'footer';


// PAGE
@import 'category-gallery';
@import 'category-single';
// @import 'single';