// CORE
@import 'mixins';
@import 'layout';
@import 'colors';

:root {
    --font-size: 14px;

    --primary-lightest: 234, 245, 251;
    --primary-lighter: 172, 215, 239;
    --primary-light: 110, 185, 226;
    --primary: 48, 155, 214;
    --primary-dark: 34, 109, 150;
    --primary-darker: 29, 93, 128;
    --primary-darkest: 19, 62, 86;

    --background: 249, 251, 253;

    --border: 227, 235, 246;

    --navbar-height: 4.5rem;
}

html {
    font-size: var(--font-size);
}

body {
    background-color: rgba(var(--background), 1);
    color: rgba(var(--gray-800), .75);
}

// COMPONENTS
@import 'navbar';
@import 'card';
@import 'feed-carousel';
@import 'widget';
@import 'comments';
@import 'footer';


// PAGE
@import 'category-gallery';
@import 'category-single';
@import 'single';