.post-category {
    display: flex;
    height: 3.5rem;

    background-color: #222;

    .post-category-title {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 3.5rem;

        img {
            display: block;
            max-height: 2rem;
        }
    }
}

.post-section {
    width: 100%;
    max-width: 980px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;

    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint(lg) {
        margin-top: 2rem;

        padding-left: 160px;
        padding-right: 160px;
    }
}


// COVER

.post-cover {
    text-align: center;

    figcaption {
        margin-top: .8rem;
        font-size: .8rem;
        color: rgba(var(--text), .35);

        a {
            border-bottom: .05em solid currentColor;
        }
    }
}


// TITLE

.post-title {
    h1 {
        font-family: var(--font-family-serif);
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 1.2;

        @include breakpoint(lg) {
            font-size: 3rem;
        }
    }
}


// DESCRIPTION

.post-description {
    font-family: var(--font-family-sans-serif);
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(var(--text), .5);
}


// META

.post-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-meta-actions {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    align-items: center;

    font-size: 1rem;


    .post-meta-actions-item {
        color: rgba(var(--text), .5);

        &:hover {
            color: rgba(var(--text), .8);
        }
    }
}


// POST

.post-content {
    width: 100%;

    font-family: var(--font-family-serif);
    font-size: 1.5rem;
    font-weight: 500;
}

.post-image {
    margin-top: 2em;
    margin-bottom: 2em;

    &.is-extended {

        @include breakpoint(lg) {
            margin-right: -160px;
            margin-left: -160px;
        }
    }

    &.is-float {
        @include breakpoint(lg) {
            max-width: 490px;
            margin-left: 2em;
            margin-right: 2em;
        }

        &.is-float-left {
            @include breakpoint(lg) {
                float: left;
                margin-left: -160px;
            }
        }

        &.is-float-right {
            @include breakpoint(lg) {
                float: right;
                margin-right: -160px;
            }
        }
    }

    &.is-gallery {
        .is-gallery-item {
            display: flex;
            width: 100%;

            figure.image {
                height: 35vh;
                flex-grow: 1;

                &:not(:first-child) {
                    margin-left: 5px;
                }

                &:last-child {
                    flex-grow: 10;
                }

                img {
                    object-fit: cover;
                    vertical-align: bottom;
                }
            }

            +.is-gallery-item {
                margin-top: 5px;
            }
        }

    }

    figure.image {
        display: flex;
        margin: 0;

        img {
            width: 100%;
        }
    }
}

.post-image-caption {
    margin-top: .8rem;
    font-family: var(--font-family-sans-serif);
    font-size: .8rem;
    color: rgba(var(--text), .35);
    text-align: center;
}

.post-after {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .post-after-post {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-size: .8rem;

        >*+*::before {
            content: '\00a0\00a0·\00a0';
        }

        .post-after-post-item {
            display: flex;
            align-items: center;

            &:after {
                content: '\00a0mô tả';
                display: none;

                @include breakpoint(lg) {
                    display: inline;
                }
            }

            i.far,
            i.fas,
            i.fal {
                display: inline-block;
                font-size: 1rem;
                margin-right: .2rem;

                @include breakpoint(lg) {
                    // display: none;
                }
            }
        }

        .post-after-post-like {
            &:after {
                content: '\00a0ủng hộ'
            }

            i.far,
            i.fas,
            i.fal {
                @include breakpoint(lg) {
                    display: inline-block;
                }
            }
        }

        .post-after-post-view {
            &:after {
                content: '\00a0lượt xem'
            }
        }
    }

    .post-after-actions {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1em;
        align-items: center;

        .post-after-actions-item {
            color: rgba(var(--text), .5);

            &:hover {
                color: rgba(var(--text), .8);
            }
        }
    }
}


// AUTHOR

.post-author {
    .post-author-wrapper {
        display: grid;
        grid-gap: 1.5rem;

        border-top: 1px solid rgba(var(--text), .1);

        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}