.user-profile {
    .subdomain-cover {
        position: relative;
        display: flex;
        height: 30rem;
        background-color: rgba(var(--gray-500), 1);
        margin-bottom: -10rem;
        mask-image: linear-gradient(180deg, black, transparent);
        -webkit-mask-image: linear-gradient(180deg, black 40%, transparent);

        >img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .cover {
        position: relative;
        display: flex;
        // width: 100%;
        padding-top: calc(1 / 2 * 100%);
        @include shadow;
        // border: 1px solid rgba(var(--border), 1);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        background-color: rgba(var(--gray-200), 1);

        @include breakpoint(md) {
            padding-top: calc(1 / 3 * 100%);
            border-radius: var(--border-radius);
        }

        @include breakpoint(lg) {
            padding-top: calc(1 / 3 * 100%);
        }

        &.dark {
            color: rgba(var(--white), 1);
            border: none;
        }

        >img,
        .cover-image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
        }

        .cover-inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .column-sidebar {
        margin-top: -1.5rem;

        @include breakpoint(md) {
            margin-top: -9.5rem;
        }

        @include breakpoint(lg) {
            margin-top: -13.5rem;
        }
    }

    &.user-profile\:premium {
        .column-sidebar {
            margin-top: 0;
        }

        .cover {
            padding-top: 25rem;
        }
    }

    .user-profile\:basic {
        .widget {
            border-radius: 0;
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);

            @include breakpoint(md) {
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
            }
        }
    }

    .widget\:sidebar-basic {
        margin-top: -1px;

        &.widget {
            border-radius: 0;

            @include breakpoint(md) {
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
            }
        }

        .basic {
            .avatar {
                position: relative;
                display: block;
                height: unset;

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    padding-top: 100%;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }

    #intro {
        .widget-body {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            min-width: 0;
        }
    }

    .about {
        .item {
            display: flex;

            &:not(:first-child) {
                margin-top: .5rem;
            }

            .icon {
                +.content {
                    margin-left: .5rem;
                }
            }
        }
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .75rem;

        @include breakpoint(md) {
            grid-template-columns: repeat(6, 1fr);
        }

        .item {
            position: relative;
            display: block;
            width: 100%;
            padding-top: 100%;
            background-color: rgba(var(--gray-100), 1);
            border: 1px solid rgba(var(--border), 1);
            border-radius: var(--border-radius);

            &:nth-child(6) {
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    content: '+';
                    line-height: 0;
                    background-color: rgba(var(--gray-900), .25);
                    color: rgba(var(--white), 1);
                    font-size: 2rem;
                    font-weight: bold;
                }

                &:hover {
                    &:before {
                        background-color: rgba(var(--gray-900), .5);
                    }
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .widget {
        &.widget\:sidebar-badge {
            @include shadow;
            border: 1px solid rgba(var(--border), 1);
            border-radius: 0 0 var(--border-radius) var(--border-radius);
            background-color: rgba(var(--white), 1);
            padding: 1rem;
            margin-top: calc(-1.5rem - 1px);

            @include breakpoint(lg) {
                background-color: transparent;
                padding: 0;
                margin-top: 0;
                box-shadow: none;
                border: none;
                border-radius: none;
                position: absolute;
                right: 0;
                top: -5rem;
            }
        }
    }
}

.badge-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: .75rem;
    text-align: center;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    min-width: 0;

    .item {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        min-width: 0;
        align-items: flex-start;

        @include breakpoint(md) {
            grid-template-columns: 15rem 1fr;
        }

        &:not(:first-child) {
            padding-top: 1rem;
            border-top: 1px solid rgba(var(--border), 1);
        }

        .paragraphs {
            >*+* {
                margin-top: .5em;
            }
        }
    }
}

.badges {
    .badge {
        position: relative;

        &:not(:first-child) {
            margin-left: .25rem;
        }

        &:nth-child(6) {
            &:not(:last-child) {
                &:before {
                    content: '+5';
                    position: absolute;
                    color: white;
                    z-index: 2;
                    font-size: .75rem;
                    text-shadow: 0 0 10px black;
                }

                img {
                    filter: grayscale(100%) brightness(25%);
                    opacity: .75;
                }
            }
        }

        &:nth-child(n+7) {
            display: none;
        }
    }
}