<div class="comment">
    <a class="avatar" href="/profile">
        <img src="{{ include.avatar }}">
    </a>
    <div class="body">
        <div class="info">
            <a class="author" href="/profile">
                <span>Jevon Myers</span>
            </a>
            <div class="metadata">
                <span class="date">Hôm qua lúc 14:02</span>
            </div>
        </div>
        <div class="content content-body">
            <p>Had his that departed where another hill and. Perchance to open from at hill from did childe formed, nor
                virtues.</p>
            <p>Of deemed wrong his ye be below scarce of his, ever his of of was to goodly hill old, womans control
                smile sooth scene a.</p>
        </div>
        <div class="actions">
            <div class="vote">
                <a class="upvote"><span class="icon"><i class="far fa-arrow-alt-up"></i></span></a>
                <span class="value">187</span>
                <a class="downvote"><span class="icon"><i class="far fa-arrow-alt-down"></i></span></a>
            </div>
            <a class="reply">Bình luận</a>
            <a class="quote">Trích dẫn</a>
        </div>
    </div>
    <div class="comments">
        <div class="comment">
            <a class="avatar" href="/profile">
                <img src="">
            </a>
            <div class="body">
                <div class="info">
                    <a class="author" href="/profile">
                        <span>Eesa Burks</span>
                    </a>
                    <div class="metadata">
                        <span class="date">10 phút trước</span>
                    </div>
                </div>
                <div class="content content-body">
                    <div class="quote content-body">
                        <p>Had his that departed where another hill and. Perchance to open from at hill from did childe
                            formed, nor virtues.</p>
                    </div>
                    <p>Heart counsel suffice it there a wassailers. Congealed spoiled fall.</p>
                </div>
                <div class="actions">
                    <div class="vote">
                        <a class="upvote"><span class="icon"><i class="far fa-arrow-alt-up"></i></span></a>
                        <span class="value">187</span>
                        <a class="downvote"><span class="icon"><i class="far fa-arrow-alt-down"></i></span></a>
                    </div>
                    <a class="reply">Bình luận</a>
                    <a class="quote">Trích dẫn</a>
                </div>
            </div>
            <div class="comments">
                <div class="comment">
                    <a class="avatar" href="/profile">
                        <img src="">
                    </a>
                    <div class="body">
                        <div class="info">
                            <a class="author" href="/profile">
                                <span>Ruairi Joyner</span>
                            </a>
                            <div class="metadata">
                                <span class="date">10 phút trước</span>
                            </div>
                        </div>
                        <div class="content content-body">
                            <p>Was one him or or.</p>
                        </div>
                        <div class="actions">
                            <div class="vote">
                                <a class="upvote"><span class="icon"><i class="far fa-arrow-alt-up"></i></span></a>
                                <span class="value">187</span>
                                <a class="downvote"><span class="icon"><i class="far fa-arrow-alt-down"></i></span></a>
                            </div>
                            <a class="reply">Bình luận</a>
                            <a class="quote">Trích dẫn</a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar" href="/profile">
                        <img src="">
                    </a>
                    <div class="body">
                        <div class="info">
                            <a class="author" href="/profile">
                                <span>Tyreese Baldwin</span>
                            </a>
                            <div class="metadata">
                                <span class="date">10 phút trước</span>
                            </div>
                        </div>
                        <div class="content" data-reply-to="Ruairi Joyner">
                            <p>Her the scene when within maidens a ear would, by the to made the flash companie little
                                steel and, for him degree loved delphis hellas.</p>
                        </div>
                        <div class="actions">
                            <div class="vote">
                                <a class="upvote"><span class="icon"><i class="far fa-arrow-alt-up"></i></span></a>
                                <span class="value">187</span>
                                <a class="downvote"><span class="icon"><i class="far fa-arrow-alt-down"></i></span></a>
                            </div>
                            <a class="reply">Bình luận</a>
                            <a class="quote">Trích dẫn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <a class="avatar" href="/profile">
                <img src="">
            </a>
            <div class="body">
                <div class="info">
                    <a class="author" href="/profile">
                        <span>Hermione O'Sullivan</span>
                    </a>
                    <div class="metadata">
                        <span class="date">10 phút trước</span>
                    </div>
                </div>
                <div class="content content-body">
                    <p>Vexed now earthly tis had of to the, heartless found.</p>
                </div>
                <div class="actions">
                    <div class="vote">
                        <a class="upvote"><span class="icon"><i class="far fa-arrow-alt-up"></i></span></a>
                        <span class="value">187</span>
                        <a class="downvote"><span class="icon"><i class="far fa-arrow-alt-down"></i></span></a>
                    </div>
                    <a class="reply">Bình luận</a>
                    <a class="quote">Trích dẫn</a>
                </div>
            </div>
        </div>
        <a class="comment-more">Tải thêm bình luận (2)</a>
    </div>
</div>
<div class="comment">
    <a class="avatar" href="/profile">
        <img src="">
    </a>
    <div class="body">
        <div class="info">
            <a class="author" href="/profile">
                <span>Taylor Person</span>
            </a>
            <div class="metadata">
                <span class="date">10 phút trước</span>
            </div>
        </div>
        <div class="content content-body">
            <p>Did it whilome mammon eros love fountain deigned, he was which. Few he.</p>
        </div>
        <div class="actions">
            <div class="vote">
                <a class="upvote"><span class="icon"><i class="far fa-arrow-alt-up"></i></span></a>
                <span class="value">187</span>
                <a class="downvote"><span class="icon"><i class="far fa-arrow-alt-down"></i></span></a>
            </div>
            <a class="reply">Bình luận</a>
            <a class="quote">Trích dẫn</a>
        </div>
    </div>
</div>