{% assign whitespace = " " %}
<div class="{{ include.class }} card {{ include.size }}" {%- if include.id -%}id="{{ include.id }}" {%- endif -%}>
    <div class="image img-container">
        <img src="{{ include.image }}">
    </div>
    <div class="content">
        {%- if include.category -%}
        <div class="category">
            <h5>{{ include.category }}</h5>
        </div>
        {%- endif -%}
        <div class="title">
            <h1>{{ include.title }}</h1>
        </div>
        {%- if include.description -%}
        <div class="description">
            {{ include.description }}
            {%- if include.readtime -%}
            <span class="read-time">{{ include.readtime }}</span>
            {%- endif -%}
        </div>
        {%- endif -%}
        <div class="author">
            {%- if include.authorImage=="No" -%}
            {%- else -%}
            <div class="image">
                <img src="">
            </div>
            {%- endif -%}
            <div class="content">
                <div class="main">
                    <span class="author-name">{{ include.author }}</span>
                    {%- if include.authorCategory -%}{{ whitespace }}trong{{ whitespace }}
                    <span class="category">{{ include.authorCategory }}</span>
                    {%- endif -%}
                </div>
                <div class="sub">
                    {%- if include.created -%}
                    <span class="item created">{{ include.created }}</span>
                    {%- endif -%}
                    {%- if include.upvote -%}
                    <span class="item upvote">{{ include.upvote }}</span>
                    {%- endif -%}
                    {%- if include.downvote -%}
                    <span class="item downvote">{{ include.downvote }}</span>
                    {%- endif -%}
                    {%- if include.subseparator -%}
                    <span class="item separator"></span>
                    {%- endif -%}
                    {%- if include.views -%}
                    <span class="item views">{{ include.views }}</span>
                    {%- endif -%}
                    {%- if include.comments -%}
                    <span class="item comments">{{ include.comments }}</span>
                    {%- endif -%}
                    {%- if include.bookmark -%}
                    <span class="item bookmark"></span>
                    {%- endif -%}
                    {%- if include.share -%}
                    <span class="item share"></span>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>