{% assign whitespace = " " %}
<div class="{{ include.class }} card {{ include.size }}" {%- if include.id -%}id="{{ include.id }}" {%- endif -%}>
    <a class="image" href="/single">
        <img src="{{ include.image }}">
    </a>
    <div class="content">
        {%- if include.category -%}
        <div class="category">
            <h5>{{ include.category }}</h5>
        </div>
        {%- endif -%}
        <a class="title" href="/single">
            <h1>{{ include.title }}</h1>
        </a>
        {%- if include.description -%}
        <div class="description">
            {{ include.description }}
            {%- if include.readtime -%}
            <span class="read-time">{{ include.readtime }}</span>
            {%- endif -%}
        </div>
        {%- endif -%}
        <div class="author">
            {%- if include.authorImage=="No" -%}
            {%- else -%}
            <a class="avatar w-10 md:w-12 h-10 md:h-12" href="/user-profile">
                <img src="">
            </a>
            {%- endif -%}
            <div class="content">
                <div class="main">
                    <a class="author-name" href="/user-profile">{{ include.author }}</a>
                    {%- if include.authorCategory -%}{{ whitespace }}trong{{ whitespace }}
                    <a class="category-name" href="/category">{{ include.authorCategory }}</a>
                    {%- endif -%}
                </div>
                <div class="sub">
                    {%- if include.created -%}
                    <span class="item created">{{ include.created }}</span>
                    {%- endif -%}
                    {%- if include.vote -%}
                    <span class="item vote">{{ include.vote }}</span>
                    {%- endif -%}
                    {%- if include.subseparator -%}
                    <span class="item separator"></span>
                    {%- endif -%}
                    {%- if include.views -%}
                    <span class="item views">{{ include.views }}</span>
                    {%- endif -%}
                    {%- if include.comments -%}
                    <span class="item comments">{{ include.comments }}</span>
                    {%- endif -%}
                    {%- if include.bookmark -%}
                    <span class="item bookmark"></span>
                    {%- endif -%}
                    {%- if include.share -%}
                    <span class="item share"></span>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>