<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}

    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="stylesheet" href="/assets/addons/fontawesome/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="page-{{ page.slug }} is-logged-in">


    {%- include navbar.html -%}
    {{ content }}
    {%- include footer.html -%}

    {%- include javascript.html -%}

</body>

</html>