---
layout: default
---

<div class="sp-post-cover">
    <figure class="image">
        <img src="https://kenh14cdn.com/2019/11/30/e-web01-1575057268415890506822.jpg" alt="">
        <figcaption>Photos: <a href="#">@onitsukatigerjp</a></figcaption>
    </figure>
</div>

<div class="sp-post-section sp-post-title">
    <h1>Câu chuyện của Onitsuka Tiger - đôi bata vượt xa quy chuẩn giày thể thao, trở thành đôi giày "bất tử" với
        tín đồ thời trang toàn cầu</h1>
</div>

<div class="sp-post-section sp-post-description">
    <p>Chắc chắn ai trong chúng ta cũng đều thấy quan mắt với những đường kẻ sọc màu mè vắt vẻo bên nhau trên đôi
        giày mang tên Onitsuka Tiger. Ấy thế nhưng, câu chuyện thú vị ẩn sau đôi giày này thì lại rất nhiều người
        chưa rõ.</p>
</div>

<div class="sp-post-section sp-post-meta">
    <div class="sp-post-meta-author sp-block-author is-small">
        <div class="sp-block-author-image">
            <img src="/assets/images/avatar.jpg" alt="">
        </div>
        <div class="sp-block-author-meta">
            <div class="sp-block-author-meta-name">
                <a href="#">Peter Parker</a>
            </div>
            <div class="sp-block-author-meta-post">
                <div class="sp-block-author-meta-post-item sp-block-author-meta-post-time">
                    <time datetime="2020-1-5">5 phút trước</time>
                </div>
                <div class="sp-block-author-meta-post-item sp-block-author-meta-post-readtime">
                    <i class="fal fa-clock"></i>
                    <span>8</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sp-post-meta-actions">
        <div class="sp-post-meta-actions-item sp-post-meta-actions-bookmark">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="sp-post-meta-actions-item sp-post-meta-actions-bookmark">
            <i class="fab fa-facebook"></i>
        </div>
        <div class="sp-post-meta-actions-item sp-post-meta-actions-bookmark">
            <i class="fal fa-bookmark"></i>
        </div>
    </div>
</div>

<div class="sp-post-section sp-post-content content">
    {{ content }}
</div>

<div class="sp-post-section sp-post-tags">
    <ul class="sp-post-tags-list tags is-uppercase">
        <li class="tag sp-tag"><a>Thời trang</a></li>
        <li class="tag sp-tag"><a>Lịch sử</a></li>
        <li class="tag sp-tag"><a>Huyền thoại</a></li>
    </ul>
</div>

<div class="sp-post-section sp-post-after">
    <div class="sp-post-after-post">
        <a class="sp-post-after-post-item sp-post-after-post-like">
            <i class="fal fa-heart"></i>
            <span>10</span>
        </a>
        <a class="sp-post-after-post-item sp-post-after-post-view">
            <i class="fal fa-eye"></i>
            <span>10</span>
        </a>
    </div>
    <div class="sp-post-after-actions">
        <a class="sp-post-after-actions-item sp-post-after-actions-bookmark">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="sp-post-after-actions-item sp-post-after-actions-bookmark">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="sp-post-after-actions-item sp-post-after-actions-bookmark">
            <i class="fal fa-bookmark"></i>
        </a>
        <a class="sp-post-after-actions-item sp-post-after-actions-bookmark">
            <i class="fal fa-ellipsis-h"></i>
        </a>
    </div>
</div>

<div class="sp-post-section sp-post-author">
    <div class="sp-post-author-wrapper">

        <div class="sp-post-author-item sp-block-author is-large">
            <div class="sp-block-author-image">
                <img src="/assets/images/avatar.jpg">
            </div>
            <div class="sp-block-author-meta">
                <div class="sp-block-author-meta-name">
                    <a href="#">Peter Parker</a>
                    <span class="sp-block-author-meta-occupation">Dịch giả</span>
                </div>
                <div class="sp-block-author-meta-username">spiderman</div>
                <div class="sp-block-author-meta-description">
                    <p>Web Developer & Masked Vilgilante · Passionate about #selfie #savingPeopleLives
                        #yourFriendlyNeighborhoodSpiderMan. 🕷️🕷️🕷️</p>
                </div>
            </div>
        </div>

        <div class="sp-post-author-item sp-block-author is-large">
            <div class="sp-block-author-image">
                <img src="https://media1.tenor.com/images/f74452493b47e0a439b31e356f27530d/tenor.gif?itemid=14997395">
            </div>
            <div class="sp-block-author-meta">
                <div class="sp-block-author-meta-name">
                    <a href="#">Thời Trang</a>
                </div>
                <div class="sp-block-author-meta-description">
                    <p>Voluptua vero elitr gubergren eos ipsum accusam rebum consetetur diam et, magna ea diam rebum
                        ipsum accusam rebum consetetur.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<br>
<br>
<br>